/* font Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* font Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::selection {
  /* color: gray; */
}

/* Start Danh sách học viên */
.container {
  max-width: 1920px;
  /* border: 0.1px dotted red; */
}
.buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.button {
  background-color: rgba(0, 167, 81, 1);
  border: 0.1px solid rgba(0, 167, 81, 1);
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
  transition: all 0.4s;
}
.button:hover {
  background-color: white !important;
  color: rgba(0, 167, 81, 1) !important;
  border: none !important;
  border: 0.1px solid rgba(0, 167, 81, 1) !important;
  border-radius: 4px;
}
.button-filter {
  color: white;
  padding: 8px 15px;
  border-radius: 4px;
}
/* Nút sửa data */
.td-edit-btn a {
  text-decoration: none;
}
.td-edit-btn a:hover {
  text-decoration: underline !important;
}
/* Thống báo lỗi validate */
.error-mess {
  color: red;
  font-style: italic;
  display: none;
  /* visibility: hidden; */
}
/* Đổi màu nền măc định(lam) của thân bảng data */
.table-primary {
  --bs-table-bg: #ececec !important;
}
/* Đổi màu nền măc định hover(xam đậm) của thân bảng data */
.table-hover > tbody > tr:hover {
  --bs-table-accent-bg: #c2c2c2 !important;
  /* color: var(--bs-table-hover-color) !important; */
}
/* End Danh sách học viên */

/* pagination */
.pagination {
  /* border: 0.1px dotted red; */
  margin: auto;
  display: flex;
  justify-content: center;
}
/* /////////////////////////////////////////////////////////////////////////// */
/* Start modal */
.fade:not(.show) {
  /* add jquery */
  /* opacity: 1; */
}
.modal {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1060;
  /* add jquery */
  /* display: block; */
  width: 100%;
  height: 100%;
  overflow: inherit;
  outline: 0;
  background-color: rgba(158, 158, 158, 0.5);
}
.modal-dialog {
  margin-top: 8%;
  animation: fadeout 0.2s linear;
}
@keyframes fadeout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* End modal */

.container-fluid {
  background-color: #ffffff;
}
.form-frame {
  margin: auto;
  background-color: #ececec;
  padding: 30px 20px 25px 20px;
  border-radius: 4px;

  font-size: 20px;
}

/* Start Responsive by @Media same bootstrap */

/* X-Small */
@media (max-width: 576px) {
}

/* Small */
@media (min-width: 576px) {
}

/* Medium */
@media (min-width: 768px) {
  .form-frame {
    max-width: 60%;
  }
}

/* Large */
@media (min-width: 992px) {
  .form-frame {
    max-width: 50%;
  }
}

/* Extra large */
@media (min-width: 1200px) {
}

/* Extra extra large */
@media (min-width: 1400px) {
}
/* End Responsive by @Media same  bootstrap*/

/* Start */
/* End */
